.card {
  width: 180px;
  background-color: var(--white);
  background-image: linear-gradient(
    139deg,
    var(--white) 0%,
    var(--white) 50%,
    var(--white) 100%
  );

  border-radius: 10px;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .card .separator {
  border-top: 1.5px solid #42434a;
} */

.card .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 10px;
}

.card .list .element {
  display: flex;
  align-items: center;
  color: var(--hard-grey-2);
  gap: 10px;
  transition: all 0.3s ease-out;
  padding: 4px 7px;
  border-radius: 6px;
  cursor: pointer;
}

.card .list .element svg {
  width: 19px;
  height: 19px;
  stroke: var(--hard-grey-2);
  transition: all 0.3s ease-out;
}

.card .list .element .label {
  font-weight: 600;
}

.card .list .element:hover {
  background-color: var(--green);
  color: var(--black);
  transform: translate(1px, -1px);
}

.card .list .element:active {
  transform: scale(0.99);
}

.card .list .element:hover svg {
  stroke: var(--black);
}

/* .card .list:last-child svg {
  stroke: #bd89ff;
}
.card .list:last-child .element {
  color: #bd89ff;
} */

/* .card .list:last-child .element:hover {
  background-color: rgba(0, 0, 0, 0.85);
} */
