@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --black: #282623;
  --warm-black-1: #201e1c;
  --warm-black-2: #282623;
  --grey: #bababa;
  --hard-grey-1: #757575;
  --hard-grey-2: #808080;
  --white: #fff;
  --hard-white-1: #faf8f7;
  --hard-white-2: #f2f2f2;
  --green: #22c55e;
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
